-- Add metadata JSONB to events to support queue management and overrides
ALTER TABLE events ADD COLUMN metadata JSONB;

-- Add SET_PITCH_STATE to event_type
ALTER TYPE event_type ADD VALUE IF NOT EXISTS 'SET_PITCH_STATE';
